/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

/* Section Styles */
section {
    padding: 30px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about p, .projects p, .skills ul {
    text-align: center;
}

/* Project Styles */
.project {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Skills Styles */
.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills ul li {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 768px) {
    .skills ul li {
        flex: 1 1 calc(50% - 10px); /* Two items per row */
    }
}

@media (max-width: 480px) {
    .skills ul li {
        flex: 1 1 100%; /* One item per row */
    }
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #4caf50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}